// Main Sass entry file
@import "abstracts/breakpoints";
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/icons";

@import "base/reset";
@import "base/typography";
@import "base/global";

@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";
@import "layout/slider";
@import "layout/modal";

@import "pages/home";
@import "pages/core-skills";
@import "pages/case-studies";
@import "pages/what-i-do";
@import "pages/lets-talk";