<!-- Footer -->
<div class="footer-card">
    <div class="footer-top">
        <div class="footer-left">
            <h6 class="label">I'm excited to hear from you!</h6>
            <a href="mailto:khaleelrahmanvettom@gmail.com" class="footer-email">khaleelrahmanvettom@gmail.com</a>
            <div class="brand-col">
                <span class="logo"><img src="../assets/images/khaleel-footer-logo.svg" alt=""></span>
                <h6 class="text">Designing scalable UX systems, SaaS products, and digital experiences with clarity and
                    structure.</h6>
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/khaleelrahmanvtm" target="_blank">Facebook</a></li>
                    <li><a href="https://www.instagram.com/khaleelrahman_kk/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/in/khaleelurahman/" target="_blank">Linkedin</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-right">
            <div class="nav-col">
                <div>
                    <a href="/" class="nav-item">Hello</a><br>
                    <a href="skills.html" class="nav-item">Skills</a><br>
                    <a href="case-studies.html" class="nav-item">Case Studies</a><br>
                    <a href="services.html" class="nav-item">Services</a>
                </div>
                <div>
                    <a href="work-experience.html" class="nav-item">Work Experience</a><br>
                    <a href="insights.html" class="nav-item">Insights</a><br>
                    <a href="hire-me.html" class="nav-item">Hire Me</a><br>
                    <a href="industry-experience.html" class="nav-item">Industry Experience</a>
                </div>
            </div>
        </div>
    </div>


    <div class="copyright">© 2026 Khaleel. All rights reserved.</div>
</div>

<div class="bg-text-decoration">Khaleel</div>