// Core Skills page specific styles

.skills {
    display: flex;
    gap: 7.5rem;
    justify-content: center;
    align-items: center;

    @include respond(lg) {
        flex-direction: column;
        gap: 1rem;
    }

    .content-section {
        flex: 0.5;

        @include respond(lg) {
            order: 1;
        }
    }

    .image-section {
        flex: 0.5;

        @include respond(lg) {
            order: 2;
        }
    }

    .section-title {
        margin-bottom: 1rem;

        @include respond(lg) {
            margin-bottom: 0.5rem;
            font-weight: 500;
        }
    }

    .section-text {
        margin-bottom: 2.5rem;

        @include respond(lg) {
            font-size: 1rem;
            margin-bottom: 1.5rem;
        }
    }
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px 0;

    @include respond(lg) {
        gap: 1rem;
    }

    li {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        padding-right: 24px;
        margin-right: 24px;
        border-right: 1px solid transparentize($color-text-2, 0.8);
        font-size: 0.875rem;
        font-weight: 600;
        text-transform: uppercase;

        img {
            max-width: 24px;
            max-height: 24px;

            @include respond(lg) {
                max-width: 1.1rem;
                max-height: 1.1rem;
            }
        }

        &:last-child {
            border: none;
        }
    }
}

.cms {
    background-color: $color-primary;
    color: $color-white;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .content-section {
        padding-right: 10rem;

        @include respond(lg) {
            padding-right: 0;
        }
    }

    .section-head {
        color: $color-secondary;

        &::before {
            background-color: $color-secondary;
        }
    }

    .section-title {
        font-weight: 500;
        margin-bottom: 1.5rem
    }

    .section-text {
        @include body-normal;
        opacity: 0.75;
        margin-bottom: 1.5rem;
    }

    .stats-grid {
        flex: 0.5;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        padding-left: 10rem;
        margin-top: 2rem;

        @include respond(lg) {
            flex: 1;
            grid-template-columns: 1fr;
            gap: 1rem;
            padding-left: 0;
            margin-top: 0;
        }

        .card {
            background-color: $color-primary-light;
            border: 1px solid transparentize($color-primary-lightern, 0.8);
            border-radius: 1.5rem;
            padding: 2rem;
            overflow: hidden;
            transition: $transition-1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            gap: 1.5rem;

            @include respond(lg) {
                padding: 1.5rem;
                gap: 0.5rem;
            }

            &:hover {
                transform: translateY(-8px) scale(1.05);
                background-color: $color-primary-lightern;
                box-shadow: 0 20px 40px transparentize($color-text, 0.6);
                border-color: transparentize($color-secondary-lightern, 0.7);
                color: $color-text;

                &::before {
                    left: 100%;
                }

                i {
                    color: $color-primary-light;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background: linear-gradient(120deg, transparent, transparentize($color-primary-light, 0.7), transparent);
                transition: 0.6s;
            }

            &::after {
                position: absolute;
                top: 0;
                right: -50px;
                width: 320px;
                opacity: 0.05;
                z-index: 0;
            }

            &.wp {
                &::after {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M18.824 10.86h11.458m-24.782 0h9.738m6.064 0l11.345 30.653M27.099 10.86l8.446 22.821M6.552 10.86l11.292 30.513M12.349 10.86l8.394 22.681m4.479-12.104l-7.378 19.936m22.482-20.609l-7.679 20.749m7.679-20.749c.437-1.522 2.174-3.8 2.174-7.076c0-5.135-1.663-7.201-4.375-7.201c-2.215 0-3.003 2.128-3.003 3.906c0 5.278 5.204 6.007 5.204 10.371' stroke-width='1'/%3E%3C/svg%3E");
                }
            }

            &.shopi {
                &::after {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M7.254 38.314L30.803 42.5l9.943-2.093l-4.31-28.696l-3.017-.086l-2.616-2.617l-20.409 6.28zM30.803 9.009V42.5' stroke-width='1'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M16.063 31.18c.77 1.004 1.735 1.377 3.079 1.377h1.86a3.133 3.133 0 0 0 3.132-3.133v-.014a3.133 3.133 0 0 0-3.133-3.133h-2.05a3.136 3.136 0 0 1-3.137-3.136a3.143 3.143 0 0 1 3.143-3.143h1.85c1.343 0 2.308.373 3.078 1.376m-3.286-9.226c-.995-3.663 5.694-9.34 7.386-2.272' stroke-width='1'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M15.553 13.7c1.41-8.73 10.122-11.633 9.822-3.022' stroke-width='1'/%3E%3C/svg%3E");
                }
            }

            i {
                width: 3.75rem;
                height: 3.75rem;
                color: $color-primary-lightern;

                @include respond(lg) {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }

            .label {
                font-weight: 200;
                position: relative;
                z-index: 1;
            }

            .text {
                position: relative;
                z-index: 1;
            }
        }
    }
}

.pr-pd {
    padding: 0;

    .productivity {
        background-color: $color-secondary-light;

        &::before {
            content: '';
            background-color: $color-secondary-light;
            height: 100%;
            position: absolute;
            top: -30px;
            left: -20px;
            transform: rotate(2deg);
            right: -20px;
            z-index: -1;
        }

        .image-section {
            img {
                max-width: 387px;

                @include respond(lg) {
                    max-height: 10rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }

    .project {
        background-color: $color-secondary;

        &::before {
            content: '';
            background-color: $color-secondary;
            height: 100%;
            position: absolute;
            top: -30px;
            left: -20px;
            transform: rotate(-2deg);
            right: -20px;
            z-index: 0;
        }

        .image-section {
            img {
                max-width: 320px;

                @include respond(lg) {
                    max-height: 10rem;
                }

            }
        }
    }

    .productivity,
    .project {
        display: flex;
        align-items: center;
        gap: 4rem;
        justify-content: space-between;
        padding: 4rem 8rem;
        position: relative;
        height: calc(50% - 4rem);

        @include respond(lg) {
            gap: 1rem;
            padding: 1.5rem;
            height: auto;
            flex-direction: column;
        }

        .image-section,
        .content-section {
            position: relative;
            z-index: 1;
        }
    }
}