// Site header layout
.site-header {
    position: fixed;
    top: 2rem;
    padding: 0 4rem;
    z-index: 40;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .site-header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2.5rem;

        i {
            display: inline-flex;
            height: 32px;
            width: 1px;
            background-color: $color-text-2;
            opacity: 0.25;
        }

        .site-brand {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            font-weight: 600;

            svg {
                height: 2.5rem;
                width: auto;
            }
        }
    }
}