// Primary navigation

.nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    @include respond(lg) {
        position: fixed;
        transform: translateX(100%);
        transition: $transition-1;
        background-color: $color-white;
        opacity: 0;
        z-index: 1;
        top: 0;
        right: 0;
        width: 80%;
        padding: 6rem 2rem;
        height: 100%;
        flex-direction: column;
        align-items: baseline;

        &.active {
            transform: translateX(0%);
            opacity: 1;

            .nav-link {
                opacity: 1;
                transform: translateY(0);

                &:nth-child(1) {
                    transition-delay: 0.2s;
                }

                &:nth-child(2) {
                    transition-delay: 0.35s;
                }

                &:nth-child(3) {
                    transition-delay: 0.5s;
                }

                &:nth-child(4) {
                    transition-delay: 0.65s;
                }

                &:nth-child(5) {
                    transition-delay: 0.65s;
                }
            }

            .lest-talk {
                opacity: 1;
                transform: translateY(0);
                transition-delay: 0.8s;
            }
        }
    }

    .nav-link {
        position: relative;
        font-size: 1rem;
        color: $color-text-2;
        transition: color 0.2s ease;
        display: inline-flex;

        @include respond(lg) {
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.4s ease, transform 0.4s $transition-3;
            font-size: 1.2rem;
            display: flex;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 100%;
            height: 0;
            transition: width 0.25s ease;
            background-color: $color-primary;
            border-radius: 0 0 2px 2px;
        }

        &:hover {
            color: $color-primary;

            &::after {
                height: 2px;
            }
        }

        &.active {
            color: $color-primary;
            font-weight: 600;

            &::after {
                height: 2px;
            }
        }
    }

    .lest-talk {
        display: none;

        @include respond(lg) {
            transition: opacity 0.4s ease, transform 0.4s $transition-3;
            transform: translateY(20px);
            opacity: 0;
            display: flex;
            position: absolute;
            bottom: 6rem;
            left: 2rem;
        }
    }
}

.lest-talk {
    display: inline-flex;
    background-color: $color-primary;
    border-radius: 8px;
    min-width: 7.5rem;
    color: $color-white;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    font-weight: 500;

    @include respond(lg) {
        display: none;
    }
}

.dark {
    .logo {
        g {
            path {
                fill: $color-white;
            }
        }

        path {
            fill: $color-bg
        }
    }

    .nav {
        .nav-link {
            color: $color-white;
            opacity: 0.7;

            &::after {
                background-color: $color-white;
            }

            &.active {
                opacity: 1;
            }
        }
    }

    .lest-talk {
        background-color: $color-white;
        color: $color-primary;
    }
}