// Vertical full-screen slider page

.main {
    overflow: hidden; 
    .slider-container {
        height: 100vh;
        width: 100%;
        transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .slide {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

