// Global layout and base styles
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100..700&display=swap');

body {
    font-family: var(--font-family-base, system-ui, -apple-system,
            BlinkMacSystemFont, "SF Pro Text", "Inter", sans-serif);
    font-size: var(--font-size-base, 16px);
    line-height: var(--line-height-base, 1.5);
    background: $color-bg;
    color: $color-text;
    font-weight: 400;
    touch-action: none;
}

.container {
    width: 100%;
    padding: 0 4rem;

    @include respond(lg) {
        padding: 0;
    }
}

section {
    padding-block: 3.5rem;
}

.section-head {
    text-transform: uppercase;
    color: $color-primary;
    font-size: 18px;
    position: relative;
    display: inline-flex;
    gap: 8px;
    height: 13px;
    align-items: flex-end;
    line-height: 13px;
    font-weight: 500;
    margin-bottom: 1.2rem;

    @include respond(lg) {
        font-size: 1rem;
        line-height: 1.2;
        height: auto;
    }

    &::before {
        content: '';
        width: 3.75rem;
        height: 2px;
        background-color: $color-primary;
        display: inline-flex;
    }
}

.section-title {
    font-weight: 400;
    line-height: 150%;
}

.section-text {
    @include body-normal;
    font-weight: 400;
    line-height: 175%;
}

.tag {
    background-color: $color-secondary;
    height: 2.25rem;
    border-radius: 2rem;
    padding: 0 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;

    @include respond(lg) {
        font-size: 0.875rem;
        padding: 0.3rem 0.8rem;
        height: auto;
    }
}

.page-head-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include respond(lg) {
        gap: 2rem;
    }

    .content-section {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 8rem;

        @include respond(lg) {
            padding: 0 1.5rem;
            flex-direction: column;
        }

        .tag {
            margin-bottom: 1rem;
        }

        .section-title {
            font-weight: 300;

            @include respond(lg) {
                font-weight: 500;
            }
        }

        .left-content {
            flex: 0.4;

            @include respond(lg) {
                margin-bottom: 0.5rem;
            }
        }

        .right-content {
            flex: 0.4;
        }

        .section-text {
            font-weight: 400;

            @include respond(lg) {
                font-size: 1rem;
            }
        }
    }

    .banner {
        img {
            width: 100%;
        }
    }

}