// Basic breakpoint mixins

$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;

@mixin respond-sm {
    @media (min-width: #{$bp-sm}) {
        @content;
    }
}

@mixin respond-md {
    @media (min-width: #{$bp-md}) {
        @content;
    }
}

@mixin respond-lg {
    @media (min-width: #{$bp-lg}) {
        @content;
    }
}

@mixin respond-xl {
    @media (min-width: #{$bp-xl}) {
        @content;
    }
}


