// Icons
[class^="solar--"],
[class^="arcticons--"],
[class^="hugeicons--"] {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

// Solafr Icon
.solar--arrow-right-linear {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M4 12h16m0 0l-6-6m6 6l-6 6'/%3E%3C/svg%3E");
}

.solar--download-minimalistic-linear {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M3 15c0 2.828 0 4.243.879 5.121C4.757 21 6.172 21 9 21h6c2.828 0 4.243 0 5.121-.879C21 19.243 21 17.828 21 15M12 3v13m0 0l4-4.375M12 16l-4-4.375'/%3E%3C/svg%3E");
}

.solar--arrow-right-up-linear {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 18L18 6m0 0H9m9 0v9'/%3E%3C/svg%3E");
}

// ArctIcon
.arcticons--shopify {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M7.254 38.314L30.803 42.5l9.943-2.093l-4.31-28.696l-3.017-.086l-2.616-2.617l-20.409 6.28zM30.803 9.009V42.5' stroke-width='1'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M16.063 31.18c.77 1.004 1.735 1.377 3.079 1.377h1.86a3.133 3.133 0 0 0 3.132-3.133v-.014a3.133 3.133 0 0 0-3.133-3.133h-2.05a3.136 3.136 0 0 1-3.137-3.136a3.143 3.143 0 0 1 3.143-3.143h1.85c1.343 0 2.308.373 3.078 1.376m-3.286-9.226c-.995-3.663 5.694-9.34 7.386-2.272' stroke-width='1'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M15.553 13.7c1.41-8.73 10.122-11.633 9.822-3.022' stroke-width='1'/%3E%3C/svg%3E");
}

.arcticons--wordpress {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M18.824 10.86h11.458m-24.782 0h9.738m6.064 0l11.345 30.653M27.099 10.86l8.446 22.821M6.552 10.86l11.292 30.513M12.349 10.86l8.394 22.681m4.479-12.104l-7.378 19.936m22.482-20.609l-7.679 20.749m7.679-20.749c.437-1.522 2.174-3.8 2.174-7.076c0-5.135-1.663-7.201-4.375-7.201c-2.215 0-3.003 2.128-3.003 3.906c0 5.278 5.204 6.007 5.204 10.371' stroke-width='1'/%3E%3C/svg%3E");
}

// Hugeicons
.hugeicons--behance-01 {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M2 12h5.625M7.4 5H4c-.943 0-1.414 0-1.707.293S2 6.057 2 7v10c0 .943 0 1.414.293 1.707S3.057 19 4 19h3.4c1.988 0 3.6-1.567 3.6-3.5S9.388 12 7.4 12c1.988 0 3.6-1.567 3.6-3.5S9.388 5 7.4 5M20 7h-4m-2 7h8c0-2.041-1.79-4-4-4s-4 1.959-4 4m0 0v1a4 4 0 0 0 7.465 2'/%3E%3C/svg%3E");
}

.hugeicons--dribbble {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-width='1.5'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath stroke-linejoin='round' d='M22 13.264A15.5 15.5 0 0 0 19.147 13C13.795 13 9.034 15.742 6 20M19 5c-3.13 3.667-7.832 6-13.09 6c-1.346 0-2.655-.153-3.91-.441'/%3E%3Cpath stroke-linejoin='round' d='M14.618 22A18.6 18.6 0 0 0 15 18.24C15 11.926 11.834 6.347 7 3'/%3E%3C/g%3E%3C/svg%3E");
}

.hugeicons--figma {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linejoin='round' stroke-width='1.5'%3E%3Ccircle cx='15' cy='12' r='3'/%3E%3Cpath d='M9 21a3 3 0 0 0 3-3v-3H9a3 3 0 1 0 0 6Z'/%3E%3Cpath stroke-linecap='round' d='M12 9v6H9a3 3 0 1 1 0-6zm0-6v6H9a3 3 0 0 1 0-6zm0 0v6h3a3 3 0 1 0 0-6z'/%3E%3C/g%3E%3C/svg%3E");
}