// Icons
[class^="solar--"],
[class^="arcticons--"],
[class^="hugeicons--"] {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

// Solafr Icon
.solar--arrow-right-linear {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M4 12h16m0 0l-6-6m6 6l-6 6'/%3E%3C/svg%3E");
}

.solar--download-minimalistic-linear {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M3 15c0 2.828 0 4.243.879 5.121C4.757 21 6.172 21 9 21h6c2.828 0 4.243 0 5.121-.879C21 19.243 21 17.828 21 15M12 3v13m0 0l4-4.375M12 16l-4-4.375'/%3E%3C/svg%3E");
}

.solar--arrow-right-up-linear {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 18L18 6m0 0H9m9 0v9'/%3E%3C/svg%3E");
}

// ArctIcon
.arcticons--shopify {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M7.254 38.314L30.803 42.5l9.943-2.093l-4.31-28.696l-3.017-.086l-2.616-2.617l-20.409 6.28zM30.803 9.009V42.5' stroke-width='1'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M16.063 31.18c.77 1.004 1.735 1.377 3.079 1.377h1.86a3.133 3.133 0 0 0 3.132-3.133v-.014a3.133 3.133 0 0 0-3.133-3.133h-2.05a3.136 3.136 0 0 1-3.137-3.136a3.143 3.143 0 0 1 3.143-3.143h1.85c1.343 0 2.308.373 3.078 1.376m-3.286-9.226c-.995-3.663 5.694-9.34 7.386-2.272' stroke-width='1'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M15.553 13.7c1.41-8.73 10.122-11.633 9.822-3.022' stroke-width='1'/%3E%3C/svg%3E");
}

.arcticons--wordpress {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M18.824 10.86h11.458m-24.782 0h9.738m6.064 0l11.345 30.653M27.099 10.86l8.446 22.821M6.552 10.86l11.292 30.513M12.349 10.86l8.394 22.681m4.479-12.104l-7.378 19.936m22.482-20.609l-7.679 20.749m7.679-20.749c.437-1.522 2.174-3.8 2.174-7.076c0-5.135-1.663-7.201-4.375-7.201c-2.215 0-3.003 2.128-3.003 3.906c0 5.278 5.204 6.007 5.204 10.371' stroke-width='1'/%3E%3C/svg%3E");
}

// Hugeicons
.hugeicons--behance-01 {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M2 12h5.625M7.4 5H4c-.943 0-1.414 0-1.707.293S2 6.057 2 7v10c0 .943 0 1.414.293 1.707S3.057 19 4 19h3.4c1.988 0 3.6-1.567 3.6-3.5S9.388 12 7.4 12c1.988 0 3.6-1.567 3.6-3.5S9.388 5 7.4 5M20 7h-4m-2 7h8c0-2.041-1.79-4-4-4s-4 1.959-4 4m0 0v1a4 4 0 0 0 7.465 2'/%3E%3C/svg%3E");
}

.hugeicons--dribbble {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-width='1.5'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath stroke-linejoin='round' d='M22 13.264A15.5 15.5 0 0 0 19.147 13C13.795 13 9.034 15.742 6 20M19 5c-3.13 3.667-7.832 6-13.09 6c-1.346 0-2.655-.153-3.91-.441'/%3E%3Cpath stroke-linejoin='round' d='M14.618 22A18.6 18.6 0 0 0 15 18.24C15 11.926 11.834 6.347 7 3'/%3E%3C/g%3E%3C/svg%3E");
}

.hugeicons--figma {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linejoin='round' stroke-width='1.5'%3E%3Ccircle cx='15' cy='12' r='3'/%3E%3Cpath d='M9 21a3 3 0 0 0 3-3v-3H9a3 3 0 1 0 0 6Z'/%3E%3Cpath stroke-linecap='round' d='M12 9v6H9a3 3 0 1 1 0-6zm0-6v6H9a3 3 0 0 1 0-6zm0 0v6h3a3 3 0 1 0 0-6z'/%3E%3C/g%3E%3C/svg%3E");
}

.hugeicons--call-ringing-02 {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m4.912 10.541l2.64-2.64a2.08 2.08 0 0 0 .507-2.064a27 27 0 0 1-.49-1.844C7.453 3.45 6.976 3 6.42 3H4.912c-1.11 0-2.023.904-1.901 2.008c.926 8.392 7.59 15.055 15.981 15.981c1.104.122 2.008-.79 2.008-1.9v-1.51c0-.554-.452-1.01-.998-1.11a15 15 0 0 1-1.774-.459c-.767-.244-1.619-.072-2.188.496l-2.581 2.582m4.041-8.086L20 11m-7-4.498V4m4.95 2.05l-1.77 1.77'/%3E%3C/svg%3E");
}

.hugeicons--whatsapp {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-width='1.5'%3E%3Cpath stroke-linejoin='round' d='M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12c0 1.379.28 2.693.784 3.888c.279.66.418.99.436 1.24c.017.25-.057.524-.204 1.073L2 22l3.799-1.016c.549-.147.823-.22 1.073-.204c.25.018.58.157 1.24.436A10 10 0 0 0 12 22Z'/%3E%3Cpath d='m8.588 12.377l.871-1.081c.367-.456.82-.88.857-1.488c.008-.153-.1-.841-.315-2.218C9.916 7.049 9.41 7 8.973 7c-.57 0-.855 0-1.138.13c-.358.163-.725.622-.806 1.007c-.064.305-.016.515.079.935c.402 1.783 1.347 3.544 2.811 5.009c1.465 1.464 3.226 2.409 5.01 2.811c.42.095.629.143.934.079c.385-.08.844-.448 1.008-.806c.129-.283.129-.568.129-1.138c0-.438-.049-.943-.59-1.028c-1.377-.216-2.065-.323-2.218-.315c-.607.036-1.032.49-1.488.857l-1.081.87'/%3E%3C/g%3E%3C/svg%3E");
}

.hugeicons--linkedin-01 {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linejoin='round' stroke-width='1'%3E%3Cpath stroke-linecap='round' stroke-width='1.5' d='M7 10v7m4-4v4m0-4a3 3 0 1 1 6 0v4m-6-4v-3'/%3E%3Cpath stroke-linecap='round' stroke-width='2' d='M7.008 7h-.009'/%3E%3Cpath stroke-width='1.5' d='M2.5 12c0-4.478 0-6.718 1.391-8.109S7.521 2.5 12 2.5c4.478 0 6.718 0 8.109 1.391S21.5 7.521 21.5 12c0 4.478 0 6.718-1.391 8.109S16.479 21.5 12 21.5c-4.478 0-6.718 0-8.109-1.391S2.5 16.479 2.5 12Z'/%3E%3C/g%3E%3C/svg%3E");
}

.hugeicons--globe {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-width='1.5'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12.5 19v3m-2 0h4'/%3E%3Ccircle cx='7' cy='7' r='7' stroke-linecap='round' transform='matrix(-1 0 0 1 20.5 2)'/%3E%3Cpath stroke-linejoin='round' d='M8.5 4c.654.038.992.359 1.573.973c1.05 1.11 2.1 1.202 2.8.832c1.049-.555.167-1.453 1.399-1.94c.803-.32.915-1.185.468-1.865M20 10c-1.5 0-1.766 1.247-3 1c-2.5-.5-3.208.059-3.208 1.251s0 1.192-.52 2.086c-.338.582-.457 1.163.217 1.663'/%3E%3Cpath stroke-linecap='round' d='M6.5 2a9.85 9.85 0 0 0-3 7.083C3.5 14.56 7.977 19 13.5 19a10 10 0 0 0 7-2.835'/%3E%3C/g%3E%3C/svg%3E");
}