// Reusable mixins

@mixin flex-center($direction: row, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin container {
    width: 100%;
    max-width: 1138px;
    margin-inline: auto;
    padding-inline: 1.5rem;
}

@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


