// Design tokens & CSS variables

:root {
    // Typography
    --font-family-base: "IBM Plex Sans";
    --font-size-base: 1rem;
    --line-height-base: 1.5;
}

$color-bg: #FCFFFA;

$color-primary: #0A5F59;
$color-primary-light: #0C756F;
$color-primary-lightern: #ABF6F4;

$color-secondary: #FFD682;
$color-secondary-light: #F4EFD7;
$color-secondary-lightern: #FDFDF1;

$color-text: #052E2B;
$color-text-2: #455453;

$color-white: #FFFFFF;
$color-black: #000000;

$color-border: #E6E6E5;

$transition-1 : all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
$transition-2 : all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$transition-3 : cubic-bezier(0.65, 0, 0.35, 1);